<nav>
  <ul>
    <li routerLink="../barcelona" routerLinkActive="router-link-active" >Barcerlona</li>
    <li routerLink="../juventus" routerLinkActive="router-link-active" >Juventus</li>
  </ul>
</nav>

<div class="player goalkeeper">
  <div class="name">{{ playerFactory.createGoalKeeper().getName() }}</div>
  <div class="photo"><img [src]="playerFactory.createGoalKeeper().getPhoto()" width="300" [alt]="playerFactory.createGoalKeeper().getName()"></div>
  <div class="tshirt-name">{{ playerFactory.createGoalKeeper().getTshirtNum()}}</div>
  <div class="skill">{{ playerFactory.createGoalKeeper().defendPenalty()}}</div>
</div>

<div class="player midfield">
  <div class="name">{{ playerFactory.createMidPlayer().getName() }}</div>
  <div class="photo"><img [src]="playerFactory.createMidPlayer().getPhoto()" width="300" [alt]="playerFactory.createMidPlayer().getName()"></div>
  <div class="tshirt-name">{{ playerFactory.createMidPlayer().getTshirtNum() }}</div>
  <div class="skill">{{ playerFactory.createMidPlayer().passBallToStrikers() }}</div>
</div>

<div class="player striker">
  <div class="name">{{ playerFactory.createStrikerPlayer().getName() }}</div>
  <div class="photo"><img [src]="playerFactory.createStrikerPlayer().getPhoto()" width="300" [alt]="playerFactory.createStrikerPlayer().getName()"></div>
  <div class="tshirt-name">{{ playerFactory.createStrikerPlayer().getTshirtNum() }}</div>
  <div class="skill">{{ playerFactory.createStrikerPlayer().makeGoal() }}</div>
</div>